.topNav{
    position: sticky;
    background-color: black;
    overflow: hidden;
    display: flex;
}
.topNav a{
    float: left;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
.topNav a:hover{
    color: black;
    background-color: white;
}
.logo img{
    width: 150px;
    object-fit: contain;
}

.footer{
    color: white;
    background-color: black;
    display: flex;
    padding: 50px;
    bottom: 0;
}
.footer p{
    padding: 50px;
    margin-left: auto;

;}